

<div class="container">
    <h1>About Me</h1>
    
    <div class="hobby"> I LOVE TO <span>CODE</span></div>
    <p>
        Front-end, back-end, OOP programming languages, scripting languages, ha, even markup. I love coding because it gives me the freedom to express ideas and solve problems in ways that really click with me.
    </p>
    <div class="hobby"> I LOVE TO <span>LEARN</span> </div>
    <p>
        I am constantly learning and always eager to dive into something unknown head-first. Not understanding something or coming across challenges in the learning process doesn't deter me at all, actually, I find it motivating.
        I really enjoy a good tutorial and am currently deep into a Udemy course addiction. Which will be more apparent in the portfolio section below.
    </p>
    <div class="hobby"> I LOVE <span>VIDEO GAMES</span> </div>
    <p>
        I love and play all kinds of different games and have been my whole life! I like Action/Adventure, RPGs, ARPGs, RTS, Strategy, Management, Simulation, Stealth, Sandboxes, etc, you name a genre, there's probably a game I like.

    </p>
    <div class="hobby"> I LOVE TO <span>CREATE</span> </div>

    <p>
        My other hobbies include: painting, digital art (photoshop, procreate, affinity designer), 3D modeling/sculpting (blender), dancing, reading and cooking.
    </p>
</div>
  