<div class="exp pattern-diagonal-stripes-xl ">
  <h1>WORK EXPERIENCE</h1>
  
  <div class="work-container">
    <div class="work-item">
      <div class="ribbon"><span>MOST RECENT</span></div>
      <div class="header">
        <div class="title">UPS (Integration Team) </div>
        <div class="job">Intermediate Applications Developer</div>
        <div class="dates">2019-2022</div>
      </div>
      <div class="content">
        <div class="description">
          <p>As a full time developer hired onto the integration team, I was able to put the fundamentals I'd learned during my co-op to use. The team I joined is a team that will forever hold a special place in my heart. I was able to see myself grow, as a programmer, a developer, a mentor- and really contribute to a team and common goal. 
            
            I saw the pure magic of what a team of capable people who cared about the quality of their work, could accomplish. Especially once we learned to communicate and rely on one another as a team. 
          </p>
          <p>
        I can see how much this experience has taught me and strengthened me and my abilities. It was invaluable to see and be an active part of the planning and initialization of such a large and impactful project. I was able to learn from and collaborate with mentors and experts as we set forth from the beginning as a team, with the goal of a huge and incredibly complex integration.
        </p>
        </div>
        <div class="points">
          <ul>
            <li>
              <span class="project">Project: Legacy System Replacement</span> Developed <span class="emphasis tech">Java/Spring Boot microservices</span> that interfaced with current legacy systems and various databases via JMS. Large and complex integration from a legacy system to a vendor app. 
            </li>
            <li>
              <span class="first">Contributed during every stage of the project and application lifecycle</span>on mission-critical systems design, implementation, integration, testing, and maintenance 
            </li>
            <li>
              <span class="first">As Scrum Master</span>mentored junior devs, facilitated agile ceremonies, coordinated efforts across multiple teams, actively removed blockers for the team, and was the driving force behind many process improvements, Contributed ideas and suggestions in team meetings and delivered updates on deadlines, designs and enhancements, 
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="work-item">
      <div class="header">
        <div class="title">UPS (Flight & Crew)</div>
        <div class="job">Co-Op</div>
        <div class="dates">2014-2018</div>
    </div>
      <div class="content">
        <div class="description"> 
          <p>
            I started at UPS as a co-op, I was on a team of supportive and helpful developers who always treated me like a full member of the team regardless of my status of co op. I'm really grateful for everything I learned during my time as a co-op. I experienced, learned about and participated in nearly every step of the application development lifecyle during this time. I strengthened my fundamentals and contributed a lot over the years - from dev support tools, automated jobs, bugfixes etc. I learned about the value of communication, how much I loved being a part of a team, and how fascinating and exciting I found the development process to be. I was also able to begin to cultivate some leadership ability through mentoring other co-ops/interns. 
          </p>
        </div>
        <div class="points">
          <ul>
            <li>
              Fundamentals: Programming, database management, debugging, testing, interacting with legacy systems, maintenance, design, documentation, debugging, troubleshooting, etc. 
            </li>
            <li>
              Mentored incoming co-ops, ensured their questions were answered, brought up to speed, and felt welcomed to the team. 
            </li>
            <li>
              Project: Master Crew List - migrated legacy VB application that handles updating TSA with a master list of UPS Crew to Java to better integrate with existing systems and eliminate technical debt, 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <h1>EDUCATION</h1>

  <div class="education">
    <div class="university">University of Louisville</div>
    <div class="degree">Bachelor's of Computer Engineering and Science</div>
    <div class="dt">2012-2016</div>
    <div class="pt">
        <ul>
            <li>
              Engineering Sorority - Phi Sigma Rho - Delta class
            </li>
            <li>
              Performance Dance Teams: Cardinal Kpop & Cardinal Hip Hop 
            </li>
        </ul>
    </div>

</div>


