
<div class="container">
    <h1 class="header">TECHNICAL</h1>
    <div class="content">
        <h3>Java</h3>
        <p><span>8+ years professional experience as Java App Dev</span></p>
        <ul>
            <li><b>Editions: </b>Standard Edition, J2EE (Enterprise)</li>
            <li><b>Core:</b> OOP, inheritence, abstraction, var design patterns, JDBC</li>
            <li><b>Messaging:</b> JMS, ActiveMQ (broker), Apache Camel (routing intg messages)</li>
            <li><b>Spring Boot:</b> used to quickly initialize projs, used starter packs for testing, database management, RESTful ws requests/responses</li>
            <li><b>JSP & JSF:</b> some JSF experience, and some jsf lib: IceFaces/Ace, PrimeFaces </li>
        </ul>
        <h3>Front End</h3>
        <!-- <p>I don't have much front end experience, professionally. But I have always been very interested in front end web development and design. It was my major hobby in grade school, but upon reaching college and my co-op, I completely fell in love with back-end work as well. </p> -->
        <ul>
            <li><b>Angular</b> + typescript</li>
            <li>HTML, CSS, JS (some jQuery)</li>
        </ul>
        <h3>Back End</h3>
        <!-- I feel the most at home in the backend side of things. I love figuring out how different systems integrate and finding meaning in the chaos.  -->

        <ul>
            <li><b>Databases:</b> SQL, MySQL, PLSQL, Stored Procedures, Query Optimization, Batch Query Processing</li>
            <li>Creating interconnected systems and dealing with complex business logic </li>
            <li>Juggling interaction between legacy, current and new systems? No problem! </li>
        </ul>
    </div>
    <div class="skills-list">
        <div class="skill">
            <li><h3>Java</h3>
                <span class="bar"><span class="java"></span></span>
            </li>
            <li><h3>Spring Boot/MVC</h3>
                <span class="bar"><span class="spring"></span></span>
            </li>
            <li><h3>Front End</h3>
                <span class="bar"><span class="front"></span></span>
            </li>
            <li><h3>Back End</h3>
                <span class="bar"><span class="back"></span></span>
            </li>
        </div>
    </div>

 
</div>
<div class="mid">
    <div class="item-2">
        <h1>TEAMWORK</h1>
        <div class="text">
        I truly believe the heart and soul of any project lies in the team- in the people.




            
            
        </div>
    </div>
    <div class="item">
        <h1>DEV OPS</h1>
        <div class="text">
            <ul>
                <li>Project lifecycle
                    <ul>
                        <li>Planning & Proj Management</li>
                        <li>Design & Documentation</li>
                        <li>Project Initialization</li>
                        <li>Implementation, development</li>
                        <li>Deployment/CICD (Continuous intg)</li>
                        <li>Code reviews, Pull Requests</li>
                        <li>Support, Maintenance - bugfixes, troubleshooting</li>
                    </ul>
                </li>
                <li>Environment Mgmt</li>
                <li>Backlog Mgmt</li>
        </ul>
        </div>
    </div>
    <div class="item">
        <h1>TOOLS</h1>
        <div class="text">
            <ul>
                <li>Git, SVN</li>
                <li>Jenkins</li>
                <li>Openshift, Docker, Kubernetes</li>
                <li>TFS</li>
                <li>Cucumber, Gherkin (Intg testing)</li>
                <li>IDEs: Eclipse, Spring Tool Suite (Eclipse)</li>
            </ul>
            
        </div>
    </div>
    <!-- <h1 class="header">TEAM</h1>
    <h1 class="header">APP DEV</h1> -->
</div>

<div class="langs">
    <div class="skills-list">
        <div class="skill">
            <li><h3>Spanish (advanced)</h3>
                <span class="bar"><span class="spanish"></span></span>
            </li>
            <li><h3>Korean (intermediate)</h3>
                <span class="bar"><span class="korean"></span></span>
            </li>
        </div>
    </div>
    <div class="content">
        <h3>Spanish</h3>
        <p>I speak and understand Spanish at an advanced level - speaking, reading, writing and listening. I am fluent enough that I can express the majority of my thoughts in most general situations and can express moderately complex ideas.  </p>
        <p>
            Hola! Mucho gusto. Puedo hablar, leer, y escribir espanol. No debería manejar nada muy oficial pero, para conversar y expresar ideas, puedo comunicarme bastante bien. 
        </p>
        <h3>Korean</h3>
        <p>My korean is not nearly as good as my spanish, I am very much still learning. Reading, writing, speaking and listening abilities are all around intermediate level. I have a pretty firm grasp on basic grammar concepts, and some intermediate ones.  </p>
        <p class="korean-text">만나서 반가워요. 저는 아직 한국어를 배우고 있어서 너무 복잡한 말은 못해요. </p>
    </div>
    <h1 class="header">LANGUAGES</h1>
</div>