<div class="pattern-diagonal-lines-lg top">
    <div class="box">
      <div class="my-name">Kait Masden</div>
      <div class="job">Full Stack Java Applications Developer</div>
      <div class="blurb">


      </div>
      <div class="socials">
          <a href="https://github.com/kmmasden" target="_blank"><img class="gh" src="https://icongr.am/fontawesome/github.svg?size=24&color=56cc85" /></a>
          <a href="https://linkedin.com/kait-masden" target="_blank"><img class="lin" src="https://icongr.am/fontawesome/linkedin.svg?size=24&color=56cc85" /></a>
          
          <img class="ig" src="https://icongr.am/fontawesome/instagram.svg?size=24&color=56cc85" />
      </div>
    </div>
    
</div>

